@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color:#fff;
}

body, html{
    display: block;
    margin: 0px;
    font-family: inter, tahoma, sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
}
.body{
    height: 100%;
}
fieldset{
    border: none;
}

.container{
    display: flex;
    width: 100%;
    height: 90%;
}

.container-1{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 21, 26)
}

.container-1-1{
    height: 400px;
    width: 400px;
}
.form{
   
    display: flex;
    height: inherit;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 20px;
}


.input{
    background-color:rgb(32, 31, 37);
    border-radius: 10px; 
    padding: 20px; 
    width: 100%;
    border: none;
    position: relative;
    
}
.input:hover{
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
}
.input:focus{
    outline: none;
}

.button{
    background-color: rgb(87, 108, 236);
    border-radius: 10px; 
    padding: 15px; 
    width: 100%;
    position: relative;
    left: 20px;
    border: none;
    font-family: inter;
}
.button:hover{
    background-color: rgba(73,31,134,1);
    cursor: pointer;
    
}

legend{
    font-size: 30px;
}
p{
    font-size: 12px;
    text-align: left;
    color: slategray;
}


.container-2{
    width: 50%;
    height: 100%; 
    position: relative; 
    overflow: hidden; 
}

.container-2 img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center center; 
  }

  .container-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height:10%;
    background-color:rgb(87, 108, 236);
    /*rgba(154, 153, 255);
    rgba(73,31,134,1)
    */
  }

.container-footer>p{
    text-align: center;
    font-size: 12px;
    color: white;
}